*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

html,
body,
.wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
}

.password {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: flex;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 85px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dashed #c0c7cf;
    border-radius: 6px;
    resize: none;
    overflow: scroll;
}

body {
    min-height: 100%;
    background-color: white;
    text-align: center;
}

.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 10px;
    background: hsl(360, 91%, 36%);
    border-radius: 15px;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.slider:hover {
    opacity: 0.5;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #000000;
    border-radius: 50%;
    cursor: pointer;
}

.action-btn {
    border: 0;
    background-color: hsl(360, 91%, 36%);
    border-radius: 25px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 15px;
    opacity: 1;
    transition: opacity .2s;
}

.action-btn:hover {
    opacity: 0.5;
}

.card {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}

.slider_main {
    display: flex;
    flex-direction: row;
}

.card-header::after {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

.card-body {
    min-height: 100px;
}

.card-footer {
    text-align: center;
}

.card-footer::before {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

.card-footer::after {
    content: " ";
    display: block;
    clear: both;
}

output {
    margin-top: 20px;
    margin-left: 10px;
}

@media (max-width: 690px) {
    .btn {
        font-size: 1rem;
        margin: 16px 0px 0px 0px;
        padding: 10px 15px;
    }
    #password {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .btn {
        font-size: 0.8rem;
    }
}